---
import type { Item } from '@/types'
import { storyblokEditable } from '@storyblok/astro'

interface Props {
  blok: Item
}

const { blok } = Astro.props
---

<div {...storyblokEditable(blok)}>
  <h1 class="font-cinzel text-2xl">{blok.name}</h1>
  <div class="mt-4 space-y-4 md:mt-12">
    {
      blok.images.map(img => (
        <img src={img.filename} alt={img.alt ?? blok.name} />
      ))
    }
  </div>
</div>
