---
import type { Asset } from '@/types'
import { storyblokEditable } from '@storyblok/astro'

type Blok = {
  text: string
  image: Asset
}

interface Props {
  blok: Blok
}

const { blok } = Astro.props
---

<section class="mb-10 md:mb-6" {...storyblokEditable(blok)}>
  <div class="flex flex-col gap-4 md:flex-row md:gap-6">
    <p class="leading-7">{blok.text}</p>
    <div
      class="min-w-[300px] overflow-hidden rounded-md md:h-[190px] md:max-w-[300px]"
    >
      <img
        src={blok.image.filename}
        alt={blok.text}
        class="h-full w-full object-cover"
      />
    </div>
  </div>
</section>
