---
import MainLayout from '@/layouts/MainLayout.astro'
import ContactForm from '@/components/ContactForm'
---

<MainLayout>
  <h1 class="mb-10 text-center font-cinzel text-3xl">Contact Us</h1>
  <ContactForm client:load />
</MainLayout>
