---
import MainLayout from '@/layouts/MainLayout.astro'
import ContactForm from '@/components/ContactForm'
---

<MainLayout title="Contact Us">
  <h1 class="mb-10 text-center font-cinzel text-3xl">Contact Us</h1>
  <ContactForm client:load />
  <div class="mt-10 md:mt-16">
    <h2 class="text-center font-cinzel text-2xl">Find us on social media</h2>
    <div class="mt-5 flex items-center justify-center gap-8">
      <a
        href="https://www.facebook.com/profile.php?id=61555472023366"
        target="_blank"
        rel="noopener noreferrer"
        class="flex items-center gap-2 rounded-md bg-[#316FF6] px-4 py-2 font-semibold text-gray-50"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="20"
          height="20"
          viewBox="0 0 20 20"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path
            d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"
          ></path>
        </svg>
        <span>Facebook</span>
      </a>
      <a
        href="https://www.instagram.com/_m_a_r_i_n_e_r_/"
        target="_blank"
        rel="noopener noreferrer"
        class="flex items-center gap-2 rounded-md bg-[#E1306C] px-4 py-2 font-semibold text-gray-50"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="20"
          height="20"
          viewBox="0 0 20 20"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <rect width="16.7" height="16.7" x="1.67" y="1.67" rx="4.17" ry="4.17"
          ></rect>
          <path
            d="M13.3 9.47A3.33 3.33 0 1 1 10.53 6.67 3.33 3.33 0 0 1 13.3 9.47z"
          ></path>
          <line x1="14.58" x2="14.59" y1="5.42" y2="5.42"></line>
        </svg>
        <span>Instagram</span>
      </a>
    </div>
  </div>
</MainLayout>
