---
import MainLayout from '@/layouts/MainLayout.astro'
import ContactForm from '@/components/ContactForm'
---

<MainLayout title="Contact Us">
  <h1 class="mb-10 text-center font-cinzel text-3xl">Contact Us</h1>
  <ContactForm client:load />
  <div class="mt-10 md:mt-16">
    <h2 class="text-center font-cinzel text-2xl">Find us on social media</h2>
    <div class="mt-5 flex items-center justify-center gap-8">
      <a
        href=""
        class="rounded-md bg-[#316FF6] px-4 py-2 font-semibold text-gray-50"
      >
        Facebook
      </a>
      <a
        href=""
        class="rounded-md bg-[#E1306C] px-4 py-2 font-semibold text-gray-50"
      >
        Instagram
      </a>
    </div>
  </div>
</MainLayout>
