---
import MainLayout from '@/layouts/MainLayout.astro'
import ContactForm from '@/components/ContactForm'
import SocialLink from '@/components/SocialLink.astro'
import Instagram from '@/components/SocialIcons/Instagram.astro'
import Facebook from '@/components/SocialIcons/Facebook.astro'
import TikTok from '@/components/SocialIcons/TikTok.astro'
---

<MainLayout title="Contact Us">
  <h1 class="mb-10 text-center font-cinzel text-3xl">Contact Us</h1>
  <ContactForm client:load />
  <div class="mt-10 md:mt-16">
    <h2 class="text-center font-cinzel text-2xl">Find us on social media</h2>
    <div class="mt-5 flex items-center justify-center gap-8">
      <SocialLink
        href="https://www.facebook.com/profile.php?id=61555472023366"
        text="Facebook"
        class="bg-[#316FF6]"
      >
        <Facebook />
      </SocialLink>
      <SocialLink
        href="https://www.instagram.com/_m_a_r_i_n_e_r_/"
        text="Instagram"
        class="bg-[#E1306C]"
      >
        <Instagram />
      </SocialLink>
      <SocialLink
        href="https://www.tiktok.com/@marinerworldwide"
        text="TikTok"
        class="bg-black dark:bg-white dark:text-black"
      >
        <TikTok />
      </SocialLink>
    </div>
  </div>
</MainLayout>
