<div class="rounded-lg border p-4 shadow dark:border-gray-800">
  <slot name="image" />
  <div class="mt-6">
    <slot name="title" />
  </div>
  <div class="mt-3">
    <slot name="meta" />
  </div>
</div>
