---
interface Props {
  src: string
  alt: string
}

const { src, alt } = Astro.props
---

<div class="h-[226px] w-full overflow-hidden rounded">
  <img {src} {alt} class="h-full w-full object-cover" />
</div>
