<footer class="mt-10 pb-8 text-center opacity-40 md:pb-12">
  <p>
    &copy; <span id="year"></span> Mariner Worldwide. All Right Reserved.
  </p>
</footer>

<script>
  const yearElement = document.getElementById('year')
  if (yearElement) {
    yearElement.textContent = new Date().getFullYear().toString()
  }
</script>

