---
interface Props {
  href: string
}

const { href } = Astro.props
const isActive = href === Astro.url.pathname
---

<a
  href={href}
  class={`hidden ${isActive ? 'text-gray-900' : 'text-gray-600'} transition-colors hover:text-gray-900 hover:underline md:inline`}
>
  <slot />
</a>
