---
interface Props {
  href: string
  text: string
  class?: string
}

const { href, text, class: className } = Astro.props
---

<a
  {href}
  target="_blank"
  rel="noopener noreferrer"
  class:list={[
    'link-bg flex w-36 items-center justify-center gap-2 rounded-md px-4 py-2 font-semibold text-gray-50',
    className
  ]}
>
  <slot />
  <span>{text}</span>
</a>
